{% extends 'base.html.twig' %}

{% block title %}Blog Entries{% endblock %}

{% block body %}

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Blog tutorial</h1>
            <p class="lead blog-description">A basic description of the blog, built in Symfony, styled in Bootstrap 3, secured by <a href="http://auth0.com">Auth0</a>.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for blogPost in blogPosts %}
                    {% set paragraphs = blogPost.description|split('</p>') %}
                    {% set firstParagraph = paragraphs|first ~ '</p>' %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            <a href="{{ path('entry', {'slug': blogPost.slug}) }}">
                                {{ blogPost.title }}
                            </a>
                        </h2>
                        <p class="blog-post-meta">
                            {{ blogPost.getUpdatedAt|date('F j, Y') }} by

                            {% if blogPost.author %}
                                <a href="{{ path('author', {'username': blogPost.author.username|url_encode }) }}">
                                    {{ blogPost.author.name }}
                                </a>
                            {% else %}
                                Unknown Author
                            {% endif %}
                        </p>
                        {{ firstParagraph|raw }}<br />

                        <a href="{{ path('entry', {'slug': blogPost.slug}) }}">Read more</a>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        You have no blog articles. Please log in and create an article.
                    </div>
                {% endfor %}

                {% set canPrevious = page > 1 %}
                {% set canNext = (page * entryLimit) < totalBlogPosts %}
                <nav>
                    <ul class="pager">
                        <li class="previous {% if canPrevious == false %}disabled{% endif %}">
                            <a href="{% if canPrevious %}{{ path('entries', {'page': page - 1}) }}{% endif %}">
                                <span aria-hidden="true">&larr;</span> Older
                            </a>
                        </li>
                        <li class="next {% if canNext == false %}disabled{% endif %}">
                            <a href="{% if canNext %}{{ path('entries', {'page': page + 1}) }}{% endif %}">
                                Newer <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}